/* Problem 0 */
#group-1 {
	position: absolute;
	top: 93px;
	left: 37px;
}
#head-0,
#head-1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 0.8;
	color: var(--t-inverse-color);
	width: 220px;
}
#sep-1-0 {
	margin-bottom: -19px;
}
#sep-1-1 {
	margin-top: 5px;
	margin-bottom: -19px;
}
#text-0 {
	font-size: 10px;
	line-height: 1.1;
	color: var(--t-inverse-color);
	width: 214px;
}
#sep-1-2 {
	margin-top: 4px;
	margin-bottom: -5px;
}
