/* Fonts */

@font-face {
	font-family: "Futura Now Text";
	font-style: normal;
	font-weight: 900;
	src: url('fonts/FuturaNowTextBlk.woff2') format('woff2'), url('fonts/FuturaNowTextBlk.woff') format('woff');
}
@font-face {
	font-family: "Futura Now Text";
	font-style: normal;
	font-weight: 700;
	src: url('fonts/FuturaNowTextBd.woff2') format('woff2'), url('fonts/FuturaNowTextBd.woff') format('woff');
}
@font-face {
	font-family: "Futura Now Text";
	font-style: normal;
	font-weight: 500;
	src: url('fonts/FuturaNowTextMd.woff2') format('woff2'), url('fonts/FuturaNowTextMd.woff') format('woff');
}
@font-face {
	font-family: "Futura Now Text";
	font-style: normal;
	font-weight: 400;
	src: url('fonts/FuturaNowTextRg.woff2') format('woff2'), url('webFonts/FuturaNowTextRg.woff') format('woff');
}

:root {
	--t-max-width: 980px;
	--t-max-height: 608px;
	--t-main-color: #000;
	--t-accent-color: #e20016;
	--t-accent-color-hover: #c70013;
	--t-accent-color-translucent: #e2001610;
	--t-inverse-color: #fff;
	--t-font: 'Futura Now Text', sans-serif;
}
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: var(--t-font);
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: var(--t-main-color);
	overflow: hidden;
}
a {
	color: inherit !important;
	text-decoration: inherit !important;
}
.screen {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
header.container {
	height: 40px;
	font-size: 20px;
}
header > .left {
	width: 230px;
	text-align: left;
}
header > .center {
	flex: 1 1;
	text-align: center;
}
header > .right {
	width: 230px;
	text-align: right;
}
main.container {
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
	max-width: var(--t-max-width);
	width: var(--t-max-width);
	justify-content: space-between;
}
main > .left,
main > .right {
	width: 126px;
	text-align: center;
	line-height: 1;
	padding: 0 10px;
}
main > .center {
	position: relative;
}
main > .left img {
	margin-bottom: 0.5em;
}
main * {
	pointer-events: none;
}
main .active {
	pointer-events: auto;
}
footer.container {
	height: 85px;
	display: flex;
	justify-content: space-between;
}

/* Container classes */

.container {
	padding: 10px;
	display: flex;
	align-items: center;
}
.container.bottom {
	align-items: flex-end;
}

/* Formatting classes */

.accent {
	color: var(--t-accent-color);
}
.medium {
	font-family: var(--t-font);
	font-weight: 500;
}
.bold {
	font-family: var(--t-font);
	font-weight: 700;
}
.hidden {
	display: none;
}
.full-size {
	flex: 1 1;
	height: 608px;
}
.drag {
	opacity: 30%;
}
.material-icons {
	font-size: inherit !important;
	display: inline-block;
	vertical-align: middle;
}
.material-icons.strut {
	width: 0;
	overflow: hidden;
}
.hover:hover {
	background-color: var(--t-accent-color-translucent);
}

/* Widgets */

#timer {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
	width: 50px;
	height: 50px;
}
#aside-mark {
	font-size: 100px;
	line-height: 1em;
	font-family: var(--t-font);
	font-weight: 700;
	margin-bottom: 17px;
}
#aside-out-of {
	font-size: 16px;
	line-height: 1em;
}
div.progress {
	display: inline-block;
	margin-bottom: -4px;
}
div.progress-item {
	display: inline-block;
	margin-right: 9px;
}
div.progress-item.current {
	background-color: var(--t-accent-color);
	width: 0.6em;
	height: 0.6em;
	border-radius: 0.3em;
	margin-bottom: 0.1em;
}
button.primary {
	background-color: var(--t-accent-color);
	color: var(--t-inverse-color);
	font-size: 28px;
	/*line-height: 1em;*/
	line-height: 0;
	font-family: var(--t-font);
	font-weight: 500;
	/*padding: 6.5px 25px 18.5px 25px;*/
	padding: 0 25px;
	border-radius: 6px;
	border: none;
	display: inline-block;
	height: 60px;
}
button.primary:hover {
	background: var(--t-accent-color-hover);
}
.v-resize {
	border-top: dashed 1px var(--t-accent-color);
	border-bottom: dashed 1px var(--t-accent-color);
}
.h-resize {
	border-left: dashed 1px var(--t-accent-color);
	border-right: dashed 1px var(--t-accent-color);
}
.dragable {
	border: dashed 1px var(--t-accent-color);
	position: absolute;
}
.final {
	border: none !important;
}

/* Cursors */

.cursor-drag {
	/*cursor: move;*/
	cursor: url(cursors/drag.svg) 16 16, url(cursors/drag.png) 16 16, move;
}
.cursor-col {
	/*cursor: col-resize;*/
	cursor: url(cursors/hsize.svg) 16 16, url(cursors/hsize.png) 16 16, col-resize;
}
.cursor-row {
	/*cursor: row-resize;*/
	cursor: url(cursors/vsize.svg) 16 16, url(cursors/vsize.png) 16 16, row-resize;
}
.cursor-default {
	cursor: default;
}
.move-transition {
	transition: top 1s, left 1s;
}
.line-height-transition {
	transition: line-height 1s;
}
.height-transition {
	transition: height 1s;
}
